@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Protest Guerrilla', sans-serif;
    padding: 1rem 0 0 0;
}

h5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    color: rgb(0, 0, 0)
}

@import "./Player";
@import "./Songs";
@import "./SongList";
@import "./SongListItem";
